@font-face {
    font-family: "YehudaCLM";
    src: url("../fonts/yehudaclm-light-webfont.woff") format("woff"),
    url("../fonts/yehudaclm-light-webfont.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "YehudaCLM";
    src: url("../fonts/yehudaclm-bold-webfont.woff") format("woff"),
    url("../fonts/yehudaclm-bold-webfont.ttf") format("truetype");
    font-weight: bold;
}
*:focus{
    outline: rebeccapurple 2px solid;
}
body {
    direction: rtl;
}
body #container {
    display: block;
    background-color:whitesmoke;
}
body div header{
    position: relative;
    display: block;
    text-align: center;
    max-height: 100px;
    background-color: whitesmoke;
    font-family: "YehudaCLM", sans-serif;
}
body div #bsd{  
    position: absolute;
    top: 7%;
    right: 1%;
    color: black;
    text-align: right;
    font-size: 14px;
    z-index: 5;
}
body div header #navLogoIndex{
    position: fixed;
    top: 107px;
    right: 2px;
    color: black;
    z-index: 4;
    transition: 0.5s ease;
    transform: scale(1.04);
    filter: drop-shadow(0 0 1px black);
}
body div header #navLogo{
    opacity: 0.9;
    position: fixed;
    top: 104px;
    right: 0;
    color: black;
    z-index: 4;
    transition: 0.5s ease;
}
body div header #navLogo:hover{
    transform: rotate(4deg);
    filter: brightness(106%) saturate(109%);
    transition:0.5s ease;
}
body div header #navLogo:active, #navLogoIndex:active{
    scale: 0.96;
}
body div header nav {
    position: relative;
}

body div header #secondNav {
    background-color: silver;
}
body div header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 5;
}
body div header nav ul li {
    width: 200px;
    height: 40px;
}
body div header nav > ul > li{
    display: inline-block;
}
body div header nav ul li a{
    background-color: whitesmoke;
    color: darkgoldenrod;
    width: 200px;
    height: 40px;
    text-decoration: none;
    float: right;
    font-size:18px;
}
body div header nav > ul > li > a{
    font-size: 20px;
    font-weight: normal;
    padding-top: 20px;
    outline: 4px solid whitesmoke;
}
body div header nav > ul > li:hover > a{
    background-color: whitesmoke;
    color: goldenrod;
    outline: 4px solid whitesmoke;
}
body div header nav > ul > li > #activePageHeader{
    font-weight: bold;
    font-size:22px;
    border-bottom: 3px solid goldenrod;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
body div header nav ul li ul{
    display:none;
    padding-top: 63px;
    width:200px;
    position: absolute;
}
body div header nav ul li:hover ul{
    display:block;
}
body div header nav ul li ul li{
    border-bottom: 21px solid silver;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
body div header nav > ul > li > ul > li > #activePage{
    font-weight: bold;
    color: rebeccapurple;
}
body div header nav > ul > li > ul > li > #activePage:hover{
    font-size: 20px;
    font-weight: bold;
    color: mediumpurple;
}
body div header nav ul li ul li:last-child{
    border-bottom: none;
}
body div header nav ul li ul li a {
    padding-top: 10px;
    outline: 4px solid whitesmoke;
}
body div header nav ul li ul .nav1Titles{
    transition: scale 0.1s ease-out;
    cursor: pointer;
}
body div header nav ul li ul .nav1Titles:hover  {
    color: goldenrod;
    outline: 6px solid whitesmoke;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 4px solid silver;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
body div header nav ul li ul .nav1Titles:active{
    scale: 98%;
}
body div header nav ul li ul .nav2Titles{
    cursor: not-allowed;
}
body div header nav ul li ul .nav2Titles:hover{
    color:darkgoldenrod;
    outline: 4px solid whitesmoke;
}
body div header nav ol{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    position: relative;
    right: 24%;
    width: 40%;
}
body div header nav ol li{
   display: inline-block;
}
body div header nav ol li a{
    z-index: 5;
    text-decoration: none;
    color: black;
}
body div header nav ol li a:hover{
    text-decoration: underline;
}
body div header nav ol li:last-child a{
    color: rebeccapurple;
    text-decoration: unset;
    font-weight: bold;
    font-size: 18px;
}
body div header nav ol li:last-child a:hover{
    text-decoration: underline;
}
body div header nav ol li:after{
    content: " >";
    color: black;
}
body div header nav ol li:last-child:after{
    content: "";
}
body div #oldCityImage{
    margin-top: 10%;
    position: absolute;
    left: 125%;
    width: 50%;
    border-radius: 30px;
    transition: transform 0.5s ease;
}
body div #oldCityImage:hover {
    transform: scale(1.05);
}
body div main{
    font-family: Tahoma, sans-serif;
    padding-top: 10px;
    position: relative;
    padding-bottom: 2%;
}
body div main h1{
    font-size: 45px;
    font-weight: bold;
    color: gray;
    text-align: center;
}
body div main h2{
    font-size: 30px;
    font-weight: bold;
    color: darkgoldenrod;
    text-align: center;

}
body div main h3{
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    color: rebeccapurple;
}
body div main h4{
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: black;
}
body div main ul li{
    list-style: none;
}
body div main ul li:before{
    content: "○ ";
    color: gray;
}
body div #indexMain{
    text-align: center;
}
body div #indexMain .indexCategories{
    border: 4px dimgray solid;
    border-radius: 12px;
    margin: 0.5% auto;
    position: relative;
    display: inline-block;
    width: 66%;
    text-align: right;
    background-color: lightgray;
}

body div #indexMain .indexCategories > h4{
    font-size: 18px;
    padding: 10px;
    position: relative;
    display: inline-block;
    right: 1.5%;
    width: auto;
    margin-bottom: 0;
}
body div #indexMain .indexCategories > p{
    padding: 10px;
    margin: 0 20px 20px 20px;
}
body div #indexMain > #indexFirstArticle > div{
    width: 66%;
    position: relative;
    display: inline-block;
    text-align: center;
}
body div #indexMain > #indexFirstArticle > div > img{
    outline : goldenrod solid;
    margin-top: 22px;
    float: left;
    width: 42%;
    margin-right: 20%;
    margin-bottom: 10%;
    border-radius: 30px;
    transition: transform 0.5s ease;
}
body div #indexMain #indexFirstArticle > div > p{
    font-size: 18px;
    text-align: right;
}
body div #israelMuseumImage:hover {
    transform: scale(1.05);
}
body div #indexMain > section > h3, body div #indexMain > article > h3{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
body div #sitemapMain {
    position: relative;
    text-align: center;
}
body div #sitemapMain div {
    position: relative;
    text-align: justify;
    right: 3%;
    margin: 6% 0.5% 9% 0.5%;
    vertical-align: top;
    display: inline-block;
    width: 14%;
}
body div main div .smTitles{
    margin-bottom: 0;
    height: 30px;
    display: block;
    font-weight: bold;
    font-size: 18px;
    color: black;
}
body div main div .sm1Titles, .sm2Titles{
    margin-top: 9%;
    margin-bottom: 9%;
    text-decoration: none;
    display: block;
    color: darkgoldenrod;
}
body div main div .sm1Titles:hover{
    color: goldenrod;
    font-weight: bold;
}
body div main div .sm2Titles{
    cursor: not-allowed;
}
body div main div .sm1Titles:before, .sm2Titles:before {
    content: "● ";
    color: rebeccapurple;
}
body div main div .sm1Titles:hover:before{
    content: "● ";
    color: mediumpurple;
}
body div main strong{
    color: darkgoldenrod;
}
body div main aside #israelMuseumSite{
    position: relative;
    right: 55%;
    color: darkgoldenrod;
}
body div main #contactUsTitle{
    color: darkgoldenrod;
}
body div main #contactUsRequiredField{
    position: relative;
    text-align: right;
    top: 25px;
    right: 23.5%;
    font-size: 14px;
}
body div main #contactUsRequiredField::before{
    content: "* ";
    color: orangered;
}
body div main #contactUsForm{
    position: relative;
    display: block;
    text-align: right;
    top: 50px;
    right: 23.5%;
    width: 51.5%;
}
body div main #contactUsForm > label > span{
        font-weight: bold;
}
body div main #contactUsForm > label > span::before{
    content: "* ";
    color: orangered;
}
body div main #contactUsForm > label > .notRequired::before{
    content: "";
    padding-right: 3.8%;
}
body div main #contactUsForm input[type=text],input[type=tel],input[type=email], select, input[type=submit]{
    border-inline-start: gray solid 3px;
    border-inline-end: silver solid 3px;
    border-block-start: darkgoldenrod solid 3px;
    border-block-end: goldenrod solid 3px;
}
body div main #contactUsForm input[type=text], input[type=tel],input[type=email]{
    height: 25px;
}
body div main #contactUsForm input[type="text"]::placeholder,input[type="tel"]::placeholder,input[type="email"]::placeholder{
    font-size: 12px;
    color: dimgray;
}
body div main #contactUsForm select{
    height: 35px;
    width: 250px;
    color: black;
    background-color: whitesmoke;
    font-size: 18px;
}
body div main #contactUsForm select > option:first-child{
    color: black;
    font-weight: normal;
}
body div main #contactUsForm select > option{
    font-size: 16px;
    color: rebeccapurple;
    font-weight: bold;
}
body div main #contactUsForm input[type="text"]:focus,input[type="tel"]:focus,input[type="email"]:focus, select:focus{
    color: black;
    border: 3px solid dimgray;
    outline: 1px solid dimgray;
}
body div main #contactUsForm textarea{
    border-inline-start: gray solid 4px;
    border-inline-end: silver solid 4px;
    border-block-start: darkgoldenrod solid 4px;
    border-block-end: goldenrod solid 4px;
    width: 400px;
    height: 100px;
}
body div main #contactUsForm textarea:focus{
    color: black;
    border: 4px solid dimgray;
    outline: 1px solid dimgray;
}
body div main #contactUsForm textarea::placeholder{
    font-size: 14px;
    color: dimgray;
}
body div main #contactUsForm #phone, #email{
    text-align: left;
    direction: ltr;
}
body div main #contactUsForm #phone::placeholder, #email::placeholder{
    text-align: right;
    direction: rtl;
}
body div main #contactUsForm #subscribe{
    scale: 1.5;
    transform: rotate(0deg);
    transition: scale 0.1s linear, transform 0.1s linear;
}
body div main #contactUsForm #subscribe:checked{
    accent-color: rebeccapurple;
    scale: 2;
    transform: rotate(16deg);
    transition: scale 0.2s linear, transform 0.2s linear;
}
body div main #contactUsForm > label > #launch{
    font-size: 20px;
    color: darkgoldenrod;
    text-align: center;
    direction: rtl;
    width: 75px;
    height: 50px;
    transition: font-size 0.2s ease-out, bold 0.2s ease-out;
}
body div main #contactUsForm > label > #launch:focus{
    border: 3px solid darkgoldenrod;
    outline: 1px solid darkgoldenrod;
}
body div main #contactUsForm > label > #launch:hover{
    transition: font-size 0.2s ease-in, bold 0.2s ease-in;
    font-size: 22px;
    font-weight: bold;
    color: goldenrod;
}
body div main #contactUsForm > label > #launch:active{
    scale:0.94;
    transition: scale 0.1s ease-out;
}
body div #aboutMain div{
    position: relative;
    display: block;
    width: auto;
    right: 23.6%;
    margin-bottom: 0;
}
body div #aboutTitle{
        color: black;
}
body div #aboutMain div article h2{
    margin-bottom:0;
    text-align: right;
    color: darkgoldenrod;
}
body div #aboutMain div article h3{
    margin-bottom: 0;
    text-align: right;
    color: dimgray;
}
body div #aboutMain div article strong{
    color: dimgray;
}
body div #aboutMain div article p{
    font-size: 20px;
    font-weight: bold;
}
body div #aboutMain div article a{
    font-size: 18px;
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
}
body div #aboutMain div article #rebeccapurpleStrong{
    color: rebeccapurple;
}
body div #aboutMain div article .aboutSiteLinks{
    color: darkgoldenrod;
    text-decoration: none;
    width: fit-content;
}
body div #aboutMain div article .aboutSiteLinks:before {
    content: "● ";
    color: dimgray;
}
body div #aboutMain div article .aboutSiteLinks:hover:before{
    content: "● ";
    color: gray;
}
body div #aboutMain div article .aboutSiteLinks:hover{
    color: goldenrod;
    font-weight: bold;
}
body div aside #aboutHitLogoContainer{
    position: relative;
    text-align: center;
    margin-top: 0;
}
body div aside #aboutHitLogoContainer a {
    display: inline-block;
    text-decoration: none;
}
body div aside #aboutHitLogoContainer img {
    display: block;
    scale: 100%;
    transition: scale 0.5s ease-out;
}
body div aside #aboutHitLogoContainer img:hover{
    scale: 108%;
    transition: scale 0.5s ease-in;
}
body div aside #aboutHitLogoContainer #instructionalTechnologiesFacultyLink {
    color: rebeccapurple;
    font-weight: bold;
    font-size: 35px;
    text-decoration: none;
    display: inline-block;
    transition: scale 0.15s ease-in-out;
}
body div aside #aboutHitLogoContainer #instructionalTechnologiesFacultyLink:hover {
    color: mediumpurple;
    scale: 104%;
    transition: color 0.15s ease-in-out;
}
body div main #matchTitle{
    color: rebeccapurple;
}
body div main #matchForm{
    position: relative;
    display: block;
    text-align: right;
    top: 50px;
    right: 15%;
    width: 28.5%;
}
body div main #matchRequiredField{
    position: relative;
    text-align: right;
    top: 25px;
    right: 15%;
    font-size: 14px;
}
body div main #matchRequiredField::before{
    content: "* ";
    color: orangered;
}
body div main #matchForm > fieldset{
    width: 66%;
}
body div main #matchForm > fieldset > label > input[type="radio"]{
    margin-right: 2%;
    margin-left: 3%;
    accent-color: rebeccapurple;
    scale: 1;
    transition: scale 0.2s linear, transform 0.2s linear;
}
body div main #matchForm > fieldset > label > input[type="radio"]:checked{
    accent-color: rebeccapurple;
    scale: 1.5;
    transition: scale 0.2s linear, transform 0.2s linear;
}
body div main #matchForm > fieldset > label > input[type="checkbox"]{
    margin-right: 2%;
    margin-left: 3%;
    accent-color: rebeccapurple;
    scale: 1;
    transition: scale 0.2s linear, transform 0.2s linear;
}
body div main #matchForm > fieldset > label > input[type="checkbox"]:checked{
    padding-right: 1%;
    accent-color: rebeccapurple;
    scale: 1.5;
    transition: scale 0.2s linear, transform 0.2s linear;
}
body div main #matchForm > label > span, legend{
    font-weight: bold;
}
body div main #matchForm  > label > span::before, legend::before{
    content: "* ";
    color: orangered;
}

body div main #matchForm input[type=text], input[type=button]{
    height: 25px;
    border-inline-start: gray solid 3px;
    border-inline-end: silver solid 3px;
    border-block-start: darkgoldenrod solid 3px;
    border-block-end: goldenrod solid 3px;
}
body div main #matchForm input[type=text]{
    width: 350px;
}
body div main #matchForm input[type=text]::placeholder{
    font-size: 12px;
    color: darkgoldenrod;
}
body div main #matchForm input[type=text]:focus{
    color: black;
    border: 3px solid darkgoldenrod;
    outline: 1px solid darkgoldenrod;
}
body div main #matchForm #match:disabled{
    opacity: 50%;
    cursor: not-allowed;
}

body div main #matchForm #match:focus{
    border: 3px solid dimgray;
    outline: 1px solid dimgray;
}
body div main #matchForm > label > #match{
    opacity: 100%;
    cursor: pointer;
    font-size: 20px;
    color: dimgray;
    text-align: center;
    direction: rtl;
    width: 175px;
    height: 60px;
    transition: font-size 0.2s ease-out, bold 0.2s ease-out;
}
body div main #matchForm > label > #match:hover{
    font-size: 22px;
    font-weight: bold;
    color: gray;
    transition: font-size 0.1s ease-in, bold 0.1s ease-out;
}
body div main #matchForm > label > #match:active{
    scale:0.94;
}
body div main #matchForm > label > #match:disabled{
    opacity: 50%;
    cursor: not-allowed;
    font-size: 20px;
    color: dimgray;
    text-align: center;
    direction: rtl;
    width: 175px;
    height: 60px;
}
body div main #matchForm > label > #match:disabled:hover{
     font-size: 20px;
     font-weight: normal;
 }
body div main #matchForm > label > #match:disabled:active{
    scale:1;
}
body div main #matchResultContainer{
    position: absolute;
    right: 49.5%;
    bottom: 1%;
    height: 80%;
    width: 36%;
}
body div main #matchResultContainer > #matchMainImageContainer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 66%;
    width: 100%;
}
body div main #matchResultContainer > #matchMainImageContainer > #matchMainImage{
    border-radius: 15px;
    border: 4px solid black;
    display: block;
    width: 400px;
    opacity: 0;
}
body div main #matchResultContainer > #matchMainImagesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1px;
    position: absolute;
    bottom: 66%;
    height: 34%;
    width: 100%;
    margin-bottom: 10px;
}
body div main #matchResultContainer > #matchMainImagesContainer > .matchMainImagesSpecialAttractions, .matchMainImagesHistoricalSites, .matchMainImagesMuseums, .matchMainImagesViewpoints{
    border: 1px solid black;
    width: 24.5%;
    height: 31.9%;
    opacity: 0.5;
    border-radius: 5px;
}
body div footer{
    position: relative;
    text-align: center;
    background-color: silver;
    padding-bottom: 1%;
    font-family: "YehudaCLM", sans-serif;
}
body div footer div{
    right: 1%;
    margin-right: 2%;
    margin-left: 2%;
    width: auto;
    position: relative;
    display: inline-block;
}
body div footer div p{
    position: relative;
    text-decoration: none;
    color: rebeccapurple;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: normal;
}
body div footer div a{
    position: relative;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-top: 10px;
}
body div footer div .footer1Titles:hover{
    color: dimgray;
    font-weight: bold;
}
body div footer div #activePageFooterP {
    font-weight: bold;
    text-decoration: underline rebeccapurple 2px solid;
}
body div footer div #activePageFooterA {
    color: darkgoldenrod;
    font-weight: bold;
}
body div footer div #activePageFooterA:hover {
    color: goldenrod;
}
body div footer #footerAllRightsReserved{
    position: absolute;
    right: 2%;
    top: 79%;
}